# Log
LOG_FILE=logs/app.log
LOG_LEVEL=INFO

# Telegram
TELEGRAM_TOKEN=

# Agent
LLM_PROVIDER=ollama
API_KEY=
LLM_MODEL=gemma4:26b
LLM_REASONING=true
MAX_TOOL_RETRY=5

# Router
ROUTER_TYPE=llm
ROUTER_PROVIDER=ollama
ROUTER_MODEL=gemma4:26b
ROUTER_REASONING=true
MAX_TOOL=5

# Embedding
# nomic-embed-text-v2-moe:latest - 768
EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=nomic-embed-text-v2-moe:latest
DIMENSION=256

# GG sheet
CREDENTIAL=path/to/json
SHEET_KEY=