# Log
LOG_FILE=logs/app.log
LOG_LEVEL=info

# Telegram
TELEGRAM_TOKEN=

# ======================================== Model ========================================
LLM_PROVIDER=vllm

# OLLAMA
OLLAMA_MODEL=gemma4:26b
OLLAMA_REASONING=true

# VLLM
VLLM_URL=http://localhost:8001/v1
VLLM_API_KEY=EMPTY
VLLM_MODEL=google/gemma-4-26B-A4B-it

# NVIDIA
NVIDIA_API_KEY=
NVIDIA_MODEL=google/gemma-4-31b-it

MAX_TOOL_RETRY=5

# ======================================== Router ========================================
ROUTER_TYPE=semantic
ROUTER_PROVIDER=ollama
ROUTER_MODEL=gemma4:12b
ROUTER_REASONING=true
TOP_TOOL=5
TOOL_THRESHOLD=0.0
TOOL_KB=vector-store/tool_kb.json
UPDATE_KB=true

# Embedding
# nomic-embed-text-v2-moe:latest - 768
EMBEDDING_PROVIDER=ollama
EMBEDDING_MODEL=qwen3-embedding:0.6b
DIMENSION=

# GG sheet
CREDENTIAL=path/to/json
SHEET_KEY=

# Langfuse
TRACING=true
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=